@page
@model GlobalShopping.Pages.Shopping.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p class="h1 text-center">Product list</p>

<br />

<p>
    <a class="btn btn-outline-primary" asp-page="Create">Create New</a>
</p>

<div class="container border rounded-3">

    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Product[0].Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Product[0].Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Product[0].ManufactureDate)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="">
            @foreach (var item in Model.Product)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufactureDate)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        @* <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.ID">Details</a> | *@
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>