@page "/weather"
@using Assignment4.Api.DTOs
@using Assignment4.Api.Entities
@inject HttpClient Http
@rendermode InteractiveServer

<PageTitle>Extended Families</PageTitle>


<div class="row">
    <div class="col-md-12">
        <h5>Families Data (From SQL and NoSQL Databases)</h5>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Family Name</th>
                    <th>Is Registered</th>
                    <th>Parents</th>
                    <th>Children</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var familyObj in (Http.GetFromJsonAsync<List<Family>>($"/api/CombineData/GetSqlNoSqlData").Result))
                {
                    <tr>
                        <td>@familyObj.Id</td>
                        <td>@familyObj.LastName</td>
                        <td>@familyObj.IsRegistered</td>
                        @* parents *@
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Family Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var parentObj in familyObj.Parents)
                                    {
                                        <tr>
                                            <td>@parentObj.FirstName</td>
                                            <td>@parentObj.FamilyName</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                        @* Children *@
                        <td>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Family Name</th>
                                        <th>Gender</th>
                                        <th>Grade</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var childObj in familyObj.Children)
                                    {
                                        <tr>
                                            <td>@childObj.FirstName</td>
                                            <td>@childObj.FamilyName</td>
                                            <td>@childObj.Gender</td>
                                            <td>@childObj.Grade</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    // private List<Family> completeDatasetDTO = new();

    // protected override async Task OnInitializedAsync()
    // {
    //     completeDatasetDTO = new List<Family>();
    //     completeDatasetDTO = await Http.GetFromJsonAsync<List<Family>>($"/api/CombineData/GetSqlNoSqlData").ConfigureAwait(false);
    //     //await LoadData("Combine");
    // }

    // private async Task OnLocationChange(ChangeEventArgs e)
    // {
    //     await LoadData(e.Value.ToString());
    // }

    // private async Task LoadData(string location)
    // {
    //     //Console.WriteLine("Load data");

    //     completeDatasetDTO = new List<Family>();

    //     //Simulate asynchronous loading to demonstrate streaming rendering
    //     await Task.Delay(500);

    //     completeDatasetDTO = await Http.GetFromJsonAsync<List<Family>>($"/api/CombineData/GetSqlNoSqlData").ConfigureAwait(false);
    // }

}